


Deprecated==1.2.14

dj-rest-auth==5.0.2
Django==4.2.5
django-allauth==0.58.2

django-oauth-toolkit==2.3.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7




jwt==1.3.1

Pillow==10.0.1

PyJWT==2.8.0


python-decouple==3.1

python3-openid==3.2.0

PyYAML==6.0.1


rest-framework-simplejwt==0.0.2

social-auth-app-django==5.4.0
social-auth-core==4.5.0

sqlparse==0.4.3

virtualenv==20.19.0
virtualenv-clone==0.5.7
Werkzeug==2.3.6
whitenoise==6.6.0

